<div class="stateBinding">
<div >
    <label>2-Way Binding <input ng-model="$ctrl.twoWayBinding" type="checkbox"/></label>
</div>
<div>
    <label>1-Way Binding <input ng-model="$ctrl.oneWayBinding" type="checkbox"/></label>
</div>
<div>
    <label>String Binding <input ng-model="$ctrl.stringBinding"/></label>
</div>

<div>
    <label>2-Way Binding (optional)<input ng-model="$ctrl.optionalTwoWayBinding" type="checkbox" /></label>
</div>
<div>
    <label>1-Way Binding (optional)<input ng-model="$ctrl.optionalOneWayBinding" type="checkbox" /></label>
</div>
<div>
    <label>String Binding (optional)<input ng-model="$ctrl.optionalStringBinding" /></label>
</div>


<div>
    <label>Readonly 1-Way Binding <input ng-model="$ctrl.readOnlyOneWayBinding" type="checkbox" disabled/></label>
</div>

<div>
    <label>onChanges Counter <pre>{{$ctrl.changeCounter}}</pre></label>
</div>
</div>